# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
build/
dist/
*.manifest

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Logs
*.log
pip-log.txt

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini